# Ignorar diretórios do sistema Windows
Application\ Data/
Cookies/
Local\ Settings/
My\ Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start\ Menu/
Templates/
AppData/
Contacts/
Documents/
Favorites/
Links/
NTUSER.DAT*
OCR/
Pictures/
Saved\ Games/
Searches/
ntuser.dat*
ntuser.ini

*.log
*.tmp

__pycache__/
*.pyc
.venv/